body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .App {
    text-align: center;
    border-top-width: 50px;
    width: 500px;
    height: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px 20px;
    transition: transform 0.2s;
    margin-top: 20px;
  }
.col-border {
  text-align: center;
  border: 1px solid #ccc;
  padding-top: 15px;
  margin-bottom: 15px;
  border-radius: 100%;
  background-color: #f9f9f9;
}
p{
  text-align: center;
  padding: 15px;
}
  .row-content{
    padding: 10px;
    width: 100%;
    border-color: black;
  }
  h1{
    color: white;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  fieldset{
    border:none ;
  }
  label{
    display: block;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 5px;
    color: darkblue;
  }
  input{
    display: block;
    width: 100%;
    padding-bottom: 0%;
    height: 20px;
    border-radius: 5px;
  }
  select{
    display: block;
  }
  button{
    border-radius: 10px;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 40%;
    color: white;
    background-color: #6a1b9a;
    margin: 15px;
  
  }
  input[type="radio"],input[type="checkbox"]{
    display: inline;
    width: 10%;
  }
  
  textarea{
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;
    border-radius: 15px;
  }
  
  
  